beautifulsoup4==4.13.4
fastmcp==2.12.2
httpx==0.28.1
playwright==1.54.0
PyPDF2==3.0.1
Wikipedia_API==0.8.1
openai==1.99.9
Pillow==11.3.0
openpyxl==3.1.5
pypdf==6.0.0
python-docx==1.2.0
python-pptx==1.0.2
pexpect==4.9.0
PyYAML==6.0.2
httpx==0.28.1
pyautogui==0.9.54
pytesseract==0.3.13
opencv-python==4.10.0.84
pyscreeze==1.0.1
pyvirtualdisplay==3.0
firecrawl==4.5.0
aiofiles==25.1.0
slack-sdk==3.40.0
bm25s[core]==0.3.2
PyStemmer==3.0.0
google-genai==1.20.0
